<% provide(:title, 'Home') %>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
      </p>
    <div id="camera_capture">
        <b>Take a picture</b>
        <form action="/users" method="POST" enctype="multipart/form-data" id="upload_form">
            <label for="upload_file_input">Submit New</label>
            <input id="upload_file_input" type="file" accept="image/*" capture="camera" name="photo" onchange="element_table.upload_form.submit()">
        </form>
    </div>
