<div class="center hero-unit">
    <h1>Welcome to NoteMate</h1>

    <h2>
        So let it be written, so let it be done.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
