<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
    <div class="span8">
      <% if @user.images.any? %>
            <h3>Images (<%= @user.images.count %>)</h3>
        <ol class="images">
          <%= render @user.images %>
        </ol>
      <% end %>
    </div>
</div>
