<li>
    <span class="image">
        <%= image_tag image.attachment.url(:small) %>
    </span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(image.created_at) %> ago.
    </span>
</li>
